.root {
  --card-background-color: var(--gray-lightest-2);
  --card-text-color: var(--secondary-default);

  @media (prefers-color-scheme: dark) {
    --card-background-color: var(--gray-darker);
    --card-text-color: var(--secondary-light);
  }

  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  background: var(--card-background-color);
  color: var(--card-text-color);
  font-weight: 500;
  min-height: 90px;
}

.column {
  --border-color: var(--gray-lightest);

  @media (prefers-color-scheme: dark) {
    --border-color: var(--gray-dark);
  }

  flex: 1;

  &:not(:last-child) {
    border-right: 1px solid var(--border-color);
  }
}

.list {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.listItem {
  text-align: center;
}
