.root {
  --card-background-color: var(--gray-lightest-2);
  --card-text-color: var(--secondary-default);

  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  background: var(--card-background-color);
  color: var(--card-text-color);
  font-weight: 500;
  min-height: 90px;
}

.column {
  --border-color: var(--gray-lightest);

  flex: 1;

  &:not(:last-child) {
    border-right: 1px solid var(--gray-lightest);
  }
}

.list {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.listItem {
  text-align: center;
}
