.container {
  display: flex;
  gap: 12px;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.label {
  --label-color: var(--gray-dark);

  @media (prefers-color-scheme: dark) {
    --label-color: var(--gray-lighter);
  }

  color: var(--label-color);
}

.value {
  --value-text-color: var(--gray-default);

  @media (prefers-color-scheme: dark) {
    --value-text-color: var(--gray-light);
  }

  font-size: 14px;
  color: var(--value-text-color)
}
