@use '@/shared/styles/mixins.scss' as *;

.present {
  --text-color: var(--primary-default);
  --background-color: var(--primary-lighter);

  @media (prefers-color-scheme: dark) {
    --text-color: var(--primary-lighter);
    --background-color: var(--primary-dark);
  }

  display: flex;
  align-items: center;
  color: var(--text-color);
  padding: 2px 4px;
  border-radius: 4px;
  background: var(--background-color);
  font-size: 14px;
}

.date {
  --text-color: var(--gray-dark);

  @media (prefers-color-scheme: dark) {
    --text-color: var(--gray-lighter);
  }

  display: flex;
  gap: 4px;
  align-items: center;
  font-size: 14px;
  color: var(--text-color);
  white-space: nowrap;

  @include max-tablet-md() {
    font-size: 10px;
    justify-content: right;
    flex-direction: column;
    gap: 2px;
  }

  @include max-mobile-sm() {
    flex-direction: row;
  }
}

.separator {
  @include max-tablet-md() {
    display: none;
  }

  @include max-mobile-sm() {
    display: inline-block;
  }
}
