.container {
  display: flex;
  gap: 12px;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.label {
  --value-text-color: var(--gray-default);

  @media (prefers-color-scheme: dark) {
    --value-text-color: var(--gray-light);
  }

  font-size: 14px;
  color: var(--value-text-color)
}

.link {
  --label-color: var(--gray-dark);
  --link-color-hover: var(--gray-light);

  @media (prefers-color-scheme: dark) {
    --label-color: var(--gray-lighter);
  }

  color: var(--label-color);

  &:hover {
    color: var(--link-color-hover);
  }
}
